
*{
	margin: 0;
	padding: 0;
}
/*header样式*/
nav{
	background-color:#fff;
	height:50px;}
		
nav ul{
	list-style:none;
	margin:0;
	float:right;}

nav ul li,nav .logo{
	display:inline;
	line-height:50px;
	margin-right:20px}
	
nav ul li a{
	line-height:inherit;
	text-decoration:none;
	display:inline-block;
	padding:3px;
	color:#000;}

#top1{
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}
.logo{
	float:left;
	font-size:20px;
	font-weight:700;
	color:#000;
	letter-spacing:2px;
	padding-left:10px;}


/*第一部分*/
#m1{
	height:690px;
	min-width:1280px;
	background:url(images/1.jpg);
	background-size:cover;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Http://vincentcope.github.io/IFE2016/stage1/task7/img/banner.jpg',sizingMethod='scale');
}

.m1-shade{
	background: rgba(0,0,0,0.1);
	height: inherit;
}

.m1-shade h1{
	color: #fff;
	font-size: 60px;
	font-family: Arial,sans-serif;
	margin:0;
	padding: 200px 0 20px 120px;
}
.m1-shade p{
	color: #fff;
	font-size: 22px;
	font-weight:normal;
	line-height: 35px;
	margin:0 0 50px 120px;
}
.m1-shade a{
	display: block;
	line-height: 60px;
	width:330px;
	background: #F13533;
	text-align: center;
	color: #fff;
	font-size: 30px;
	letter-spacing: 0.3em;
	text-indent: 10px;
	text-decoration: none;
	margin:10px 0 0 120px;
}

/*第二部分*/
#m2{
	height:250px;
	background:url(images/2.png);
}

.m2-info{
	height: initial;
	display: inline-block;
	width: 320px;
	text-align: center;
}

.m2-info p{
	margin-top: 130px;
}

/*第三部分*/

#m3{
	background: #ededec;
	height: 360px;
	text-align: center;
}

#m3 img{
	margin-top: 90px;
}

#m3 h2{
	font-size: 55px;
	font-weight: normal;
	color:#867e7a;
	margin:45px 0 0 0;
}


/*第四部分*/
#m4{
	background: url(images/4.jpg);
	min-width: 1280px;
	height:340px;
	background-size: cover;
}

#m4 h3{
	color: #fff;
	text-align: center;
	font-size: 22px;
	margin:0;
	padding:50px 0 15px 0;
	font-weight: normal;
}

.hr{
	background:#fff;
	width:40px;
	height:2px;
	margin:0px auto;
}

#m4 p{
	color: #fff;
	text-align: center;
	font-size: 15px;
	padding: 10px 0 50px 0;
	font-weight: normal;
}

.serch{
	text-align: center;
	border:0;
	width:236px;
	height:38px;
	background: red;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	letter-spacing:1em;
	outline: none;
}

form select{
	display: inline-block;
	vertical-align: middle;
	width:236px;
	height:38px;
	margin:0 15px;
}

.m4-shade{
	text-align: center;
}


/*第五部分*/
#m5{
	background:#f7f7f7;
	min-width: 1280px;
	height:480px;
	text-align:center;
	padding-top: 160px;
}

.active2{
	display: inline-block;
	width:217px;
	height: 390px;
	vertical-align: middle;
	margin:0 18px;
}

.active2 h2{
	font-size: 16px;
	font-weight: normal;
	margin:0;
	padding-bottom:8px;

}
.active2 p{
	margin:0;
	padding-bottom:5px;
	font-size: 12px;
	color:#444;
}
div.shanghai h2{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.4em;
	margin-left: 22px;
}


/*第六部分*/
#m6{
	width: 100%;
	overflow: hidden;
	height: 565px;
}
#m6 div{
	float:left;
	text-align:center;
}

.m6info1{
	background: url(images/6.jpg) no-repeat;
	background-size: cover;
	width:66.6666%;
	height:565px;
}

.m6info1 h2{
	margin:150px 0 0 0;
	font-size: 50px;
	color:#fff;
	font-weight: normal;
}
.m6info1 h3{
	margin:0;
	font-size: 158px;
	height:140px;
	line-height: 140px;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
}
.m6info1 p{
	font-size: 22px;
	color: #fff;
	font-weight: normal;
	line-height: 35px;
}

.m6info2{
	width:33.3333%;
	height:565px;
}

.m6info2 h3{
	font-size: 25px;
	margin-top: 80px;
}
.m6info2 h3 span{
	color: red;
}
.m6info2 p{
	margin: 30px;
	margin-right: 40px;
	line-height: 35px;
	font-size: 12px;
	color:#767777;
}
.m6info2 a{
	display:inline-block;
	height:33px;
	width:105px;
	color:#e74f4d;
	font-size: 12px;
	line-height: 33px;
	text-decoration: none;
	border:1px solid #e74f4d;
	margin-bottom: 15px;
}


/*第七部分*/

#m7{
	text-align: center;
	float:left;
	width: 100%
}

.m7info1,.m7info2,.m7info3{
	float: left;
	width:33.3333%;
	height:565px;
}
.m7info1{
	background:#eb2826;
}
#m7 p{
	font-size: 25px;
	margin-top: 200px;
	line-height: 35px;
	color: #fff;
}

#m7 .m7info2 p{
	color: #000;
}

#m7 .hr{
	margin: 30px auto;
}

.m7info2 .hr{
	background: #bbb;
}

.morethings{
	display:inline-block;
	height:33px;
	width:120px;
	color:#e74f4d;
	font-size: 15px;
	line-height: 33px;
	text-decoration: none;
	border:1px solid #e74f4d;
	letter-spacing: 1px;
}

#m7acolor{
	color: #fff;
	border:1px solid #fff;

}

.m7info3{
	background: url(images/7.jpg) no-repeat;
	background-size: cover;
}


/*第八部分*/
#m8{
	text-align: center;
	padding:0 100px;
	overflow: hidden;
	min-width: 1280px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
}

#m8 h2{
	margin-top: 100px;
	font-size: 25px;
}

#m8 .hr{
	background: red;
	margin: 10px auto;
}

#m8 p{
	font-size: 16px;
	color:#aaaaaa;
	margin:20px 0 50px 0;
}

#m8 .form-wrap{
	width:100%;
	overflow: hidden;
	padding-bottom: 160px;
}

.form-wrap .rule-list{
	width:33.3333%;
	min-width: 360px;
	float:left;
	text-align: left;
	box-sizing:border-box;
	padding-right: 50px;
}
.rule-list dl{
	margin:0 0 30px 0;
	padding-bottom: 20px;
	position: relative;
}
.rule-list dl dt{
	font-size: 14px;
	margin-bottom: 20px;
}
.rule-list dl dd{
	margin:0;
	font-size: 12px;
	color:#aaaaaa;
	line-height: 1.8em;
}
.rule-list dl span{
	display: block;
	position: absolute;
	color: #777;
	right: 0;
	bottom:0;
}

.form-wrap form{
	width:66.6666%;
	min-width: 720px;
	float:left;
	text-align: left;
}
div.input-wrap{
	box-sizing:border-box;
	width:49%;
	background: #ededee;
	margin:0 0 15px 0;
	padding:9px 0;
}
div.username,div.usermethed{
	float:left;
}
div.userage,div.useradress{
	float:right;
}
div.input-wrap label{
	font-size: 12px;
	color:#767777;
	width:18%;
	padding-left:10px;
	display: inline-block;
}
div.input-wrap input[type="text"]{
	height:20px;
	width:77%;
	border:none;
	display: inline-block;
	background: #ededee;
	outline: none;
}
div.textarea{
	width:100%;
	clear:both;
}
div.textarea label{
	display: block;
	width:80%;
}
div.textarea textarea{
	border:none;
	width:98%;
	height:120px;
	margin-left: 10px;
	resize:none;
	background: #ededee;
	outline: none;
}
.form-wrap form a{
	display: block;
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	background: #ededee;
	font-size: 18px;
	color:#000;
	text-decoration: none;
}


/*footer部分*/
.footerTop{
	height:360px;
	min-width: 1280px;
	background: #32353e;
	text-align: center;
	overflow: hidden;
}

.footerTop h2{
	font-size: 22px;
	color:#fff;
	font-weight: normal;
	margin:90px 0 10px 0;
}

.footerTop p{
	margin:0 0 30px 0;
	color:#fff;
	font-weight: normal;
	font-size: 16px;
}

footer .input-email{
	width:510px;
	height:40px;
	display: inline-block;
	border:3px solid #686166;
}
.input-email input{
	height:43px;
	border:none;
	padding:0;
	width:430px;
	text-indent: 15px;
	outline: none;
}
.input-email a{
	display: inline-block;
	width:80px;
	height:inherit;
	line-height: 40px;
	background: #686166;
	font-size: 16px;
	letter-spacing: .5em;
	text-indent: 10px;
	color:#fff;
	text-decoration: none;
}

footer li{
	display: inline-block;
	margin: 28px  15px 0 15px;
}

.footerButtom{
	width: 100%;
	background: #2f3038;
	height:58px;
}

.footerButtom p{
	float: left;
	margin:20px 0 0 60px;
	font-weight: bold;
	color: #fff;
}
#back-to-top{
	float: right;
	margin: 20px 30px 0px 0px;
	font-size: 16px;
	color:#fff;
}