*{
	margin:0px;padding:0px;
}

body{
	background-color: #eee;
	padding: 20px;
	border: 1px solid #999;
	margin: 20px;
	min-height: 282px;

}

div{
	border: 1px solid #999;
}


#logo{
	background: #efe5d0;
	width: 200px;
	position: absolute;
	top:20px;
	left: 20px;
	margin: 20px;
}

#logo img{
	float: left;
	padding: 20px;
}

#logo h1{
	font-size:8px;
	float: left;
	margin: 20px 10px 20px 10px;
}

#middle{
	background: #efe5d0;
	font-size:105%;
	padding: 20px;
	margin: 0 142px 0 222px;
}

#allimg{
	background: #efe5d0;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 120px;
	margin: 20px;
}

#allimg img{
	display:block;
	margin:10px auto;

	}

ul{
	list-style:none;
}

p,li{
	line-height: 30px;
	font-size:18px;
	letter-spacing:1px;
}